################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XenDB Tests/bin/Debug/netcoreapp3.1
