################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XenDB Tests/bin/Debug/netcoreapp3.1
/XenDB Tests/obj/Debug/netcoreapp3.1
/XenLogger Tests/bin/Debug/netcoreapp3.1
/XenLogger Tests/obj/Debug/netcoreapp3.1
/XenSoftDevTools/.vs/XenSoftDevTools
